<% provide(:title, "About") %>

    <h1>About</h1>

    <p>
      Campについてお役立ち情報共有サイトです<br/>
      キャンプ場やイベント情報、用品、料理、キャンピングカーなど情報共有、好きな道具、車、<br/>
      キャンプ場、食べ物など,キャンプの楽しみを共有する事を目的としています。<br/>
    </p>
  </body>
</html>